---
import '@/styles/globals.css';
import MenuBar from '@/components/MenuBar/MenuBar.astro'
import CommonHeader from '@/components/Headers/CommonHeader.astro';
---
<html lang="en">
    <head>
        <CommonHeader />
    </head>
    <body class="min-h-screen">
        <div class="flex justify-center items-center text-center text-5xl font-semibold min-h-screen relative bottom-52">
           <code>
            Couldn't fetch content [404]
            </code>
        </div>        
        <MenuBar client:load/>
    </body>
</html>